@import "./nav.css";
@import "./parallax.css";

body {
  margin: 0;
}

.App {
  position: relative;
  min-height: 100vh;
}

.background {
  z-index: -1;
}

.background__image {
  object-fit: cover;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100vw;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#home__title {
  font-size: xx-large;
  padding: 40px;
}

.home__start {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__start button {
  margin: 15px 40px;
  height: 100%;
}

.home__start__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  height: 100px;
  margin-bottom: 150px;
}

.home__aventures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home__aventures>div {
  background-color: var(--bs-secondary);
  margin: 2px 0;
  padding: 7px 20px;

}

.home__save__card-body {
  margin-right: 0;
  margin-left: 0;
}

.home__save__card-header {
  background-color: var(--bs-secondary);
  font-size: large;
  padding: 7px 20px;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 5px;

}

.home__saves {
  margin: 40px;
}


.home__desc {
  display: flex;
  flex-direction: column;
}

.description {
  /* width: 70%; */
  background-color: var(--bs-secondary);
  margin: 10px;
  padding: 20px;
  border-radius: 0.5rem;
}
.description.description--left {
  margin-left: 30%; 
}
.description.description--right {
  margin-right: 30%; 
}
.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in.fade-in--right {
  transform: translateX(-50vh);
}
.fade-in.fade-in--left {
  transform: translateX(50vh);
}
.fade-in.fade-in--on {
  opacity: 1;
  transform: none;
  visibility: visible;
}
